
<script>
    export let title
    export let className
    export let id
    export let placeholder
    export let type
    export let name
</script>

<input class={className} {id} {title} {placeholder} {type} {name} />

<style lang="scss">
    input {
        display: inline-block;
        padding: 2px;
        border: 2px solid rgb(88, 88, 88);
        background-color: aqua;
    }
</style>